.logos-sec{
    margin-top: -70px;
    margin-bottom: 70px;
}
.feature {
    color: #EC1651;
    font-weight: 800;
    font-size: 38px;
    line-height: 53px;
    margin-bottom: 40px;
}
.amb{
    padding-right: 0px;
}
.amb img{
float: right;
}