.header{
    align-items: flex-end !important;
    padding: 0px;
}
.nav-items{
    margin-right: 0px !important;
    margin-left: auto !important;
}
.nav-link{
padding: 0px !important;
margin-left: 40px;
color: black;
font-size: 18px;
line-height: 22px;
}
.nav-link:hover{
    color: black;
    }