.nav-items{
    margin-right: 0px !important;
    margin-left: auto !important;
}
.menu-link{
padding-right: 0px !important;
}
.navbar-nav {
    --bs-nav-link-padding-x: 0 !important;
    --bs-nav-link-padding-y: 0 !important;
}