$primary: #ec1651;
$secondary: #84ecef;
$dark: #000000;
$light: #e9e9ea;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;

  ::-moz-selection {
    /* Code for Firefox */
    color: #84ecef;
    background: #ec1651;
  }

  ::selection {
    color: #84ecef;
    background: #ec1651;
  }
}

.scroll {
  width: 200px;
  height: 400px;
  overflow: scroll;
}
