.EdicationLeftSide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #000;
}

.EdicationBottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.ediction-description p:nth-child(2) {
  width: 830px;
}

@media only screen and (max-width: 1080px) {
  .EdicationImageWrapper {
    display: none;
  }
  .EdicationLeftSide {
    display: flex;
    flex-direction: column;
  }
}
