.btn-flat {
    color: white;
    border-radius:100px;
    background: linear-gradient(140deg, rgba(236,22,81,1) 20%, rgba(132,236,239,1) 100%);
    text-transform: uppercase;
  }

  .btn-xxl {
    padding: 0.625rem 1.6rem;
    font-size: 1rem;
  }