.HeaderFirstLine {
  font-weight: 600;
  font-size: 6vmin;
}

.HeaderSecondLine {
  font-weight: 900;
  font-size: 6vmin;
  color: #ec1651;
}

.CardContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1080px) {
  .CardContainer {
    display: flex;
    flex-direction: column;
  }
}
