.statsContainer {
  display: flex;
  align-items: flex-end;
  margin-top: 70px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background: linear-gradient(96.68deg, #EC1651 -0.95%, #84ECEF 100.81%);
  border-radius: 15px;
  padding: 40px 30px;
}

.statsStyle {
  flex: 1;
  display: flex;
  background-image: url(../../../public/assets/diagram2.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.statNum {
  font-size: 56px;
  font-weight: 900;
  line-height: 78px;
  color: #fff;
}

.statsFirstBlock {
  margin-right: 50px;
}
.statssecondBlock{
 margin-top: 20px;
}

.statText {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  margin-top: -10px;
  color: #fff;
}

@media only screen and (max-width: 1080px) {
  .statsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .statsImageWraper {
    margin-top: 30px;
  }
}
