.imageWrapper {
  width: 100%;
  background-color: #e9e9ea;
  display: flex;
  align-items: center;
  justify-content: center;
}

.archContainer > h2 {
  margin-top: 70px;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #ec1651;
  font-size: 5vmin;
  font-weight: 800;
}
