.archMain{
padding: 250px 0px 90px;
background-image: url('./../../../public/assets/architecture.svg');
  background-repeat: no-repeat;
  background-position: right;
  margin-top: -200px;
}
.archInner{
  padding: 10px 0px;
  background: #E9E9EA;
}
.archImage{
  max-width: 1200px !important;
  width: 1200px !important;
}
.archImage img{
  max-width: 1160px !important;
  width: 1160px !important;
}

.archContainer h2 {
  margin-top: 70px;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #ec1651;
  font-size: 38px;
  line-height: 53px;
  font-weight: 800;
}
