.BottomSectionContainer {
  background-color: #84ecef;
  margin: 10px 0;
}

.cardIconsContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

@media only screen and (max-width: 1080px) {
  .cardIconsContainer {
    display: flex;
    flex-direction: column;
  }
}
