.digitalCardContainer {
  background: linear-gradient(47.17deg, #E71463 2.93%, #B6145A 96.04%);
  color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
  text-align: left;
  align-items: flex-start !important;
  padding: 20px 0px;
  height: 100%;
  transition: 180ms all ease-in-out;

  img {
    transition: 320ms all ease-in-out;
    padding-left: 20px;
  }

  &:hover {
    transform: scale(1.03) translateY(-2px);

    img {
      transform: scale(1.03);
    }
  }
}

.CardContainerBottom {
  display: flex;
  flex-direction: row;
}

.card-text {
  font-size: 1rem;
  margin-top: 10px;
}

@media screen and (max-width: 1024px) {
  .CardContainerBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .digitalCardContainer {
    margin: 20px 0;
  }
}

@media screen and (max-width: 767px) {
  .digitalCardContainer {
    margin: 10px 0;
    padding: 10px 0;
    flex-direction: row;
  }

  .digitalCardContainer img {
    padding-left: 10px;
    width: 80px;
  }

  .card-text {
    margin-top: 10px;
  }
}