.nftContainer {
  background-color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #84ecef;
  border-radius: 20px;
  background-image: url('./../../../public/assets/nft-mask.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 1080px) {
  .nftContainer {
    display: flex;
    flex-direction: column;
  }
}
