.newusers {
  padding: 25px 0px 40px;
  background: #84ecef;
  background-image: url('./../../../public/assets/users-bg.svg');
  background-repeat: no-repeat;
  background-position: bottom left;
}
.billions h2 {
  color: #000000;
  font-size: 44px;
  font-weight: 600;
  line-height: 48px;
}
.billions h3 {
  color: #ec1651;
  font-size: 64px;
  font-weight: 900;
  line-height: 70px;
}
.users-diagram {
  margin-top: 40px;
}
.users-doll {
  float: right;
  margin-top: -150px;
}
.doll {
  max-width: 1300px;
  width: 1300px;
}
