.subContainer {
  background-color: rgb(231, 20, 99);
  background-image: url('./../../../public/assets/sub-mask.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  padding-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.subContainer > h1 {
  font-weight: 900;
  font-size: 28px;
  color: #fff;
  text-align: center;
}

.topHrLine {
  flex: 1;
  height: 1px;
  background-color: #e9e9ea;
  margin-right: 15px;
  margin-left: 15px;
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
  width: 50%;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.input-group input {
  border-radius: 12px !important;
  margin-right: 20px;
  background-color: white;
  color: #000;
  transition: 180ms all ease-in;
  border: 2px solid white;
}

.input-group input:focus {
  box-shadow: none;
  border: 2px solid white;
  transition: transform 0.4s cubic-bezier(0.1, 0.7, 0.1, 1), box-shadow 0.25s;
  &:focus {
    border: 2px solid rgba(132, 236, 239, 1);
    box-shadow: 0 0 0 3px rgba(132, 236, 239, 0.6);
    transform: translateY(-1px) translateX(0.5px) scale(1.02);
  }
}

.btn-outline-secondary {
  border-radius: 12px !important;
  transition: transform 0.4s cubic-bezier(0.1, 0.7, 0.1, 1), box-shadow 0.25s;
  &:hover {
    transform: translateY(-3px) translateX(2px) scale(1.05);
  }
}

@media only screen and (max-width: 1080px) {
  .input-group {
    width: 90%;
  }
}
